*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#wrapper {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #080808, #141414);
}

.container {
  width: 90%;
  margin: auto;
}

/* header */
header {
  height: 80px;
  background-color: black;
}

header .container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  color: #AC1B22;
}

.user_search i {
  color: white;
  cursor: pointer;
  padding: 5px;
  margin-left: 15px;
  border: 2px solid white;
}
.user_search i:hover {
  transition: 1s;
  padding: 10px;
  margin-left: 5px;
}
/* /header */


/* main */
main .container {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.img_container {
  margin: 15px;
  cursor: pointer;
  height: 330px;
  border: 2px solid white;
  position: relative;
}
.img_container img {
  height: 100%;
}

.info_display {
  display: none;
  height: 100%;
  background-color: black;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  overflow-y: auto;
}

.info_display p {
  color: white;
}

.info_display p .fas {
  color: yellow;
}

.img_container:hover .info_display {
  display: block;
}


/* /main */
